/* ----- Reset ----- */
body {
    font-family: $primary-ff;
    font-size: $base-fz;
    line-height: 1.8;
    font-weight: 400;
    color: $text-clr;
    background-color: $body-bg;
    overflow-x: hidden;

    @media (max-width: $break_767) {
        font-size: 14px;
    }
}
ul,
ol {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.2;
    color: $text-clr;
}
h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.375em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.75em;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

section {
    position: relative;
}

img {
    max-width: 100%;
}
/* ----- Bootstrap ----- */
.container {
    @media (min-width: $break_1440) {
        max-width: 1210px;
    }
}
